{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Month of {{ month|title }} Challenge
{% endblock  %}


{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/challenge.css" %}">
{% endblock css_files %}

{% block content %}
{%include "challenges/includes/header.html"%}
    <h1>Challenge for the month of {{ month|title }}</h1>
    {% if text is None %}
        <p class="fallback">There is not challenge for this month yet</p>
    {% else %}
    <h2>{{ text }}</h2>
    {% endif %}
{% endblock content %}
