{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block site_title %}This is the base html title{% endblock site_title %}</title>
    {% block css_files %}{% endblock css_files %}
    <link rel='stylesheet' href="{% static "app.css" %}"/>
</head>
<body>
    <header id="main-navigation">
        <h1><a href="{% url "starting-page" %}">My blog</a></h1>
        <nav>
          <a href="{% url "posts-page" %}">All post</a>
        </nav>
      </header>
    {% block content %}This is a temporary content of this blog shit{% endblock content %}
</body>
</html>